<div class="form-group">
    <button class="{{ field.uiSettings.innerEditorClasses if field.uiSettings.innerEditorClasses else 'btn'  }}" {{ 'disabled' if field.readOnly }} onclick="$('#__admin_ui_action').val('{{key}}')">{{ field.name | tr }}</button>
</div>