{% if field.values %}
<div class="form-group">
    <label>{{ field.name }}</label>
    {% for element in field.values %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="{{key}}" id="{{key}}-{{element.key}}" value="{{element.key}}" {{ "readonly" if field.readOnly }}  {{"checked" if data[key] and data[key].indexOf(element.key)!=-1}} />
            <label class="form-check-label" for="{{key}}-{{element.key}}">{{ element.value }} </label>
        </div>
    {% endfor %}
</div>
{% else %}
<div class="form-check">
    <input class="form-check-input" type="checkbox" name="{{key}}" value="checked" {{ "readonly" if field.readOnly }}  {{"checked" if data[key]}} />
    <label class="form-check-label" for="{{key}}">{{ field.name }} </label>
</div>
{% endif %}