{% if field.values %}
    <div class="form-group">
        <label>{{ field.name | tr }}
            {% if field.uiSettings.descriptionText %}
                <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
            {% endif %}
        </label>
        {% for element in field.values %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{key}}" id="{{key}}-{{element.key}}" value="{{element.key}}" {{ "readonly" if field.readOnly }} {{ "required" if field.required }}  {{"checked" if data[key] and data[key].indexOf(element.key)!=-1}}/>
                <label class="form-check-label" for="{{key}}-{{element.key}}">{{ element.value | tr }}
                </label>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="{{key}}" value="checked" {{ "readonly" if field.readOnly }} {{ "required" if field.required }}  {{"checked" if data[key]}}/>
        <label class="form-check-label" for="{{key}}">{{ field.name | tr }}
        </label>
    </div>
{% endif %}