<div class="form-group">
    <label for="{{key}}">{{ field.name }} </label>
    <input class="form-control" 
        type="color"
        name="{{key}}" 
        value="{{data[key]}}"   
        {{ "readonly" if field.readOnly }} 
    />
</div>