<div class="form-group">
    <label for="{{key}}">{{ field.name | tr }} </label>
    <input class="form-control" 
        name="{{key}}" 
        value="{{data[key]}}" 
        type="date"
        {{ "readonly" if field.readOnly }} 
    />
</div>