<div class="form-group">
     {% if field.uiSettings.labelTemplate %}
            {% include resolvePath( field.uiSettings.labelTemplate) %}
        {% else %}
    <label for="{{key}}">{{ field.name | tr }}
        {% if field.uiSettings.descriptionText %}
            <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
        {% endif %}
    </label>
    {% endif %}
    <input class="form-control" 
        name="{{key}}" 
        {% if data[key] | length == 0 %}
        value=""
        {% else %}
        value="{{data[key] | date('YYYY-MM-DDTHH:mm') }}" 
        {% endif %}
        type="datetime-local"
        {{ "readonly" if field.readOnly }} 
        {{ "required" if field.required }}
/>
</div>