<label>{{ field.name | tr }}
{% if field.uiSettings.descriptionText %}
    <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
{% endif %}
</label>

{% set originalKey = key %}
{% set originalField = field %}

{% for key, field in originalField.metadata.fields %}
    <div id="field-{{req.params.entityName}}-{{originalKey}}-{{key}}" class="{{ field.uiSettings.editorClasses if field.uiSettings and field.uiSettings.editorClasses else 'col-12' }} ">
        {% include resolvePath(configuration[field.type]) %}
    </div>
{% endfor %}