<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
if (window.expandedAndSelect) {
    window.expandedAndSelect.forEach(function(k) {
        k();
    });
}
</script>