<div class="form-group">
    <label for="{{key}}">{{ field.name | tr }}
        {% if field.uiSettings.descriptionText %}
            <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
        {% endif %}
    </label>
    {% if data[key] %}
        <span id="current-media-{{key}}">
            <br/><img src="{{route('adminUI.previewMedia', { id: data[key] }) }}" class="img-thumbnail">
            {% if field.readOnly %}
            {% else %}
                <button class="btn btn-danger" onclick="_adminUI_removeMedia('{{key}}')">{{ 'admin-ui.remove-media' | tr }}</button>
            {% endif %}
        </span>
        <input type="hidden" id="remove-{{key}}" name="remove-{{key}}" value=""/>
    {% endif %}
    <input class="form-control" 
        type="file"
        name="{{key}}" 
        {% if field.accept %}
        accept="{{field.accept}}"
        {% endif %}
        {{ "readonly" if field.readOnly }} 
        {{ "required" if field.required }}
/>
</div>