<div class="form-group">
     {% if field.uiSettings.labelTemplate %}
            {% include resolvePath( field.uiSettings.labelTemplate) %}
        {% else %}
    <label for="{{key}}">{{ field.name | tr }}
        {% if field.uiSettings.descriptionText %}
            <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
        {% endif %}
    </label>
    {% endif %}
    <input class="form-control" 
        type="number"
        name="{{key}}" 
        value="{{data[key]}}" 
        {{ "min="+field.min if field.min}}
        {{ "max="+field.min if field.max}}    
        {{ "step="+field.step if field.step}}
        {{ "readonly" if field.readOnly }} 
        {{ "required" if field.required }}
/>
</div>