<div class="form-group">
     {% if field.uiSettings.labelTemplate %}
            {% include resolvePath( field.uiSettings.labelTemplate) %}
        {% else %}
    <label for="{{key}}">{{ field.name | tr }}
        {% if field.uiSettings.descriptionText %}
            <small id="{{key}}-help" class="{{ field.uiSettings.descriptionTextClasses if field.uiSettings.descriptionTextClasses }} description-label">{{ field.uiSettings.descriptionText | tr }}</small>
        {% endif %}
    </label>
    {% endif %}
    <select class="form-control" name="{{key}}" {{ "disabled" if field.readOnly }} {{ "required" if field.required }}>
        {% set currentSelectionValue = '' %}
        {% for element in field.values %}
            {% if data[key] == element.key %}
                {% set currentSelectionValue = element.key %}
            {% endif %}
        {% endfor %}
        <option value="" {{"selected" if currentSelectionValue == '' }}>{{ 'admin-ui.select' | tr }}</option>
        {% for element in field.values %}
            <option value="{{element.key}}" {{"selected" if data[key] == element.key }} >{{element.value | tr}}</option>
        {% endfor %}
    </select>
    {% if field.readOnly %}
        <input type="hidden" name="{{key}}" value="{{currentSelectionValue}}"/>
    {% endif %}
</div>