<div class="form-group">
    <label for="{{key}}">{{ field.name | tr }} </label>
    <input class="form-control" 
        name="{{key}}" 
        value="{{data[key]}}" 
        {{ 'pattern='+field.pattern if field.pattern }}
        {{ "readonly" if field.readOnly }} 
    />
</div>