<div class="form-group">
    <label for="{{key}}">{{ field.name | tr }} </label>
    <input class="form-control" 
        type="time"
        name="{{key}}" 
        value="{{data[key]}}" 
        {{ "min="+field.min if field.min}}
        {{ "max="+field.min if field.max}}    
        {{ "readonly" if field.readOnly }} 
    />
</div>