{% extends resolvePath(parentTemplate) %}

{% block additional_styles %}
    <link href="{{route('/adminUI/fontawesome/css/all.css')}}" rel="stylesheet">
    {% for type in usedTypes %}
        {% include resolvePath(configuration[type] + '-css') ignore missing %}
    {% endfor %}
    <style>
        .modal-footer {
            position: absolute;
            bottom: 0;
            border-top: 1px solid #dee2e6;
            width: 100%;
        }
    </style>

{% endblock %}
{% block additional_scripts %}
    {% for type in usedTypes %}
        {% include resolvePath(configuration[type] + '-js') ignore missing %}
    {% endfor %}
    <script>
        function closePopup() {
            window
                .parent
                .postMessage({type: 'closePopup', frameId: "#nested-frame-{{req.query.frameKey}}", displayMode: '{{req.query.displayMode}}'});
        }
    </script>
{% endblock %}

{% block body %}

    <form method="POST" action="{{route('adminUI.save', {entityName: req.params.entityName, id: req.params.id, popup: req.query.popup} )}}" enctype="multipart/form-data" onsubmit='closePopup()'>
        <input type="hidden" name="__admin_ui_action" id="__admin_ui_action"/>
        <div class="container-fluid">
            <div class="row mt-1">
                {% for key, field in fields %}
                    {% if not field.hide %}
                        <div id="field-{{req.params.entityName}}-{{key}}" class="{{ field.uiSettings.editorClasses if field.uiSettings and field.uiSettings.editorClasses else 'col-12' }} ">
                            {% include resolvePath(configuration[field.type]) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if req.query.displayMode == 'panel' %}
                <div class="row">
                    <div class="col-12">
                        <button class="mt-1 btn btn-primary btn-save btn-save-{{req.params.entityName}}" type="submit">{{ 'admin-ui.save' | tr }}</button>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if req.query.displayMode != 'panel' %}
            <div class="modal-footer">
                <button class="btn btn-primary btn-save btn-save-{{req.params.entityName}}" type="submit">{{ 'admin-ui.save' | tr }}</button>
            </div>
        {% endif %}

    </form>

{% endblock %}