{% extends resolvePath(parentTemplate) %}


{% block additional_styles %}
<link href="{{route('/adminUI/fontawesome/css/all.css')}}" rel="stylesheet">
{% for key, field in fields %}
    {% include resolvePath(configuration[field.type] + '-css') ignore missing %}
{% endfor %}
<style>
.modal-footer {
    position: absolute;
    bottom: 15px;
    border-top: 1px solid #dee2e6;
    width: 100%;
}
</style>

{% endblock %}
{% block additional_scripts %}
{% for key, field in fields %}
    {% include resolvePath(configuration[field.type] + '-js') ignore missing %}
{% endfor %}
<script>
function closePopup() {
    window.parent.postMessage({
        type: 'closePopup',
        frameId: "#nested-frame-{{req.query.frameKey}}",
    });
}
</script>
{% endblock %}


{% block body %}


<form method="POST" action="{{route('adminUI.save', {entityName: req.params.entityName, id: req.params.id} )}}" onsubmit='closePopup()'>
<div class="container-fluid">
<div class="row">
{% for key, field in fields %}
    <div id="field-{{req.params.entityName}}-{{key}}" class="{{ field.uiSettings.editorClasses if field.uiSettings and field.uiSettings.editorClasses else 'col-12' }} ">
        {% include resolvePath(configuration[field.type]) %}
    </div>
{% endfor %}
</div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-save btn-save-{{req.params.entityName}}" type="submit">Save</button>
</div>

</form>



{% endblock %}