{% extends resolvePath(parentTemplate) %}
{% import resolvePath("/lynx/utils") as utils %}

{% block additional_styles %}
<link href="{{route('/adminUI/fontawesome/css/all.css')}}" rel="stylesheet">
{% for key, field in fields %}
    {% include resolvePath(configuration[field.type] + '-css') ignore missing %}
{% endfor %}
{% endblock %}
{% block additional_scripts %}
{% for key, field in fields %}
    {% include resolvePath(configuration[field.type] + '-js') ignore missing %}
{% endfor %}
{% endblock %}


{% block body %}
<div class="container">
    <div class="lead entity-title entity-title-{{req.params.entityName}}">
        <button class="btn btn-secondary btn-back btn-back-{{req.params.entityName}}" onclick="window.history.back();">Indietro</button>
        {{ metadata.name }}
    </div>
{{ utils.alert(flash) }}
<form method="POST" action="{{route('adminUI.save', {entityName: req.params.entityName, id: req.params.id} )}}">
<div class="row">
{% for key, field in fields %}
    <div id="field-{{req.params.entityName}}-{{key}}" class="{{ field.uiSettings.editorClasses if field.uiSettings and field.uiSettings.editorClasses else 'col-12' }} ">
        {% include resolvePath(configuration[field.type]) %}
    </div>
{% endfor %}
</div>

<div>
    <button class="btn btn-primary btn-save btn-save-{{req.params.entityName}}" type="submit">Save</button>
</div>

</form>

</div>

{% endblock %}