{% extends resolvePath(parentTemplate) %}

<!-- Bootstrap CSS -->
  {% block additional_styles %}
    <link href="{{ route('/adminUI/assets/css/admin.css') }}" rel="stylesheet">
  {% endblock %}
{% block body %}
<div class="container">
<table class="table table-entities-list">
{% for e in entities %}
    {% if AUIcanRead(req, e.name) %}
    <tr>
        <td>
            <a href="{{route('adminUI.list', {entityName: e.name})}}">{{e.readableName}}</a>
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>
</div>
{% endblock %}